*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


#header{
    display: flex;
    box-shadow: black 0px 0px 2px;
    height: 50px;
    align-items: center;
}
.title a{
    text-decoration: none;
    color: #000000;

}
.title{
    width: 30%;
    margin-left: 20px;
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 10px;
    width: 100%;
}
.navbar{
    width: 70%;
}
.nav-link{
    text-decoration: none;
    margin-right: 10px;
    color: #000000;
    display: block;
    transition: .5s color;
    

}
.nav-link:hover{
    color: #48a0ff;

}