<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
</head>
<body>
    <header id="header">
        <div class="title">
            <a href="index.html"><h1>Bíblion</h1></a>
        </div>
        <div class="navbar">
            <ul>
                <a href="#" class="nav-link">
                    <li>home</li>
                </a><a href="#" class="nav-link">
                    <li>Curiosidades</li>
                </a><a href="#" class="nav-link">
                    <li>livros</li>
                </a><a href="#" class="nav-link">
                    <li>Sobre</li>
                </a>
            </ul>
        </div>
    </header>
</body>
</html>